* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #4776e4, #8e54e9);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background-color: white;
    max-width: 400px;
    min-height: 40vh;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 5px 5px 15px crimson;
}

main.h1 {
    margin-bottom: 1rem;
    position: relative;
}



h1 {
     font-family: -apple-system, sans-serif;
     text-shadow: 2px 2px 4px rgb(255, 182, 99);
     color: orangered;
     text-align: center;
    }
    
h2 {
        font-family: -apple-system, sans-serif;
        text-shadow: 2px 2px 3px rgb(255, 182, 99);
        color: orangered;
        text-align: center;

    }
    
p {
        font-family: -apple-system, sans-serif;
        font-size: 11px;
        color: orangered;
        padding: 16pt;
        line-height: 14pt;
    }
